.App {

}

.App-logo {
  height: 230px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 330px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.form-control{
  display: inline-block;
  width: 80%;
}

.the-button{
  margin-left: 30px;
}
